<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/W3Schools_logo.svg/1088px-W3Schools_logo.svg.png" class="img-respponsive" style="max-height: 50px;">
    <ul class="nav navbar-nav navbar-right ">
      <div class="dropdown">
<button class="dropbtn" routerLink="/tutorials">Tutorials</button>
<div class="dropdown-content">
  <a href="#">HTML</a>
  <a href="#">CSS</a>
  <a href="#">SQL</a>
  <a href="#">ANGULAR JS</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn" routerLink="/references">References</button>
<div class="dropdown-content">
  <a href="#">HTML reference</a>
  <a href="#">CSS reference</a>
  <a href="#">Server side</a>
  <a href="#">Angular reference</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn" routerLink="/exercises">Exercises</button>
<div class="dropdown-content">
  <a href="#">Quizzes</a>
  <a href="#">Courses</a>
  <a href="#">Certificates</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn" routerLink="/bootcamp">BootCamp</button>
<div class="dropdown-content">
  <a href="#">Web Development BootCamp</a>
</div>
</div>
 <button class="dropbtn" id="x">Upgrade</button>
  <button class="dropbtn" id="y">Get Certified</button>
  <button class="dropbtn"  id="z">Create Website</button>
  <button class="dropbtn" id="u"><span class="slider round">sign up</span></button>
  <button class="dropbtn" id="v"><span class="slider round" routerLink="/forms" (click)="login()">Log in</span></button>
</ul>

